
.home__sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 57rem;
    color: var(--Gray-0);
    background-color: transparent;
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background: url(/media/images/home/home_sec1_background.png);
    background-attachment: fixed;
    background-size:cover;
    box-shadow: 0 0 5px black;
}




.home__sec1-banner,
.home__sec1-slogan {
    margin-top:10rem;
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 3px 3px 6px var(--Gray-7);
}

.home__sec1-banner{
    margin-top:15rem;
}

.home__sec1-subsec1 {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 95%;
    padding-left:3rem;
}

.home__sec1-slogan {
    font-size: 2.5rem;
    margin-right:auto;
}



.home__sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15rem;
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(10deg, rgba(65, 93, 129, 0.801), var(--Gray-0));
    background-size: cover;
}





.home__sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 32rem;
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(-20deg, rgba(65, 93, 129, 0.801), var(--Gray-9));
    background-size: cover;
}