.home__sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 40rem;
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
/*    background: linear-gradient(90deg, rgba(65, 93, 129, 0.801), var(--Gray-0)), url(/media/images/pump_building2.jpg);*/
/*    background: linear-gradient(90deg, rgba(65, 93, 129, 0.801), var(--Gray-0));*/
    background-size: cover;
}

.home__sec1-banner,
.home__sec1-slogan {
    margin-top:10rem;
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 3px 3px 6px var(--Gray-7);
}

.home__sec1-subsec1{
    display:flex;
    align-content:center;
    justify-content:space-around;
    width:98%;
}

.home__sec1-slogan {
    font-size: 2.5rem;
    margin-right:auto;
}



.home__sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 40rem;
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    /*    background: linear-gradient(90deg, rgba(65, 93, 129, 0.801), var(--Gray-0)), url(/media/images/pump_building2.jpg);*/
    background: linear-gradient(90deg, rgba(65, 93, 129, 0.801), var(--Gray-0));
    background-size: cover;
}