@{
    ViewData["Title"] = "Home Page";
}

<div class="home__sec1">
    <h1 class="home__sec1-banner">Precision You Can Build On</h1>
    <div class="home__sec1-subsec1">
        <h1 class="home__sec1-slogan">We deliver accuracy. <br /> We ensure quality. <br />We stand by our commitment.</h1>
        @* <img class="home__sec1-img" loading="lazy" src="/media/images/pump_building2.jpg" alt="Logo" /> *@
    </div>
</div>
