
.home__sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 63rem;
    color: var(--Gray-0);
    background-color: transparent;
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background: url(/media/images/home/home_sec1_background.webp);
    background-attachment: fixed;
    background-size:cover;
    background-position:right;
}




.home__sec1-banner,
.home__sec1-slogan {
    margin-top:10rem;
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 3px 3px 6px var(--Gray-7);
}

.home__sec1-banner{
    margin-top:15rem;
}

.home__sec1-subsec1 {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 95%;
    padding-left:3rem;
}

.home__sec1-slogan {
    font-size: 2.5rem;
    text-shadow: 3px 3px 6px var(--Blue-10);
    margin-right: auto;
}



.home__sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-size: cover;
    background-color: var(--Gray-9);
}

.home__sec2-subsec1 {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.home__sec2-subsec2{
    display:none;
}

.home__sec2-tools {
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: normal;
    text-shadow: 1px 1px 2px var(--Gray-0);
    padding: 2rem 1rem;
}

.home__sec2-tools:nth-child(1) {
    color: #37639f;
}

.home__sec2-tools:nth-child(2) {
    color: #ed2424;
}

.home__sec2-tools:nth-child(3) {
    color: #2387b4;
}

.home__sec2-tools:nth-child(4) {
    color: orangered;
}

.home__sec2-icons{
    width:6rem;
}





.home__sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    padding: 4rem 0;
    color: var(--Gray-9);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--Gray-3);
}

.home__sec3-banner{
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 3px 3px 6px var(--Gray-7);
}

.home__sec3-service {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    width: 75vw;
    padding: 0 2rem;
    border-radius: 1rem;
    background: linear-gradient(-20deg, var(--Gray-6), var(--Gray-3));
    box-shadow: 0px 0px 9px var(--Gray-9);
}

.home__sec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    padding: 4rem 2rem;
    justify-content: space-around;
    background-color: var(--Gray-3);
}

.home__sec4-banner {
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 3px 3px 6px var(--Gray-7);
}

.home__sec4-subsec1 {
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    width:100%;
}

.home__sec4-proj {
    width: 27rem;
    height: 27rem;
    margin: auto;
    padding: 0.2rem;
    border-radius: 1rem;
    background-color: var(--Gray-6);
    box-shadow: 0px 0px 9px var(--Gray-6);
}


@media (max-width: 990px) {
    .home__sec1 {
        height: fit-content;
        background-size:cover;
        background-position:right;
    }

    .home__sec1-banner {
        font-size: 3rem;
    }

    .home__sec1-slogan {
        font-size: 2rem;
        margin-top: 4.5rem;
    }

    .home__sec2-subsec1 {
        display: none;
    }

    .home__sec2-subsec2 {
        display: inline-flex;
        justify-content: space-around;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .home__sec1 {
        height: fit-content;
        background-size: cover;
        background-position-x: 730px;
    }

    .home__sec1-banner {
        font-size: 1.8rem;
    }

    .home__sec1-subsec1 {
        padding-left:1rem;
    }

    .home__sec1-slogan {
        font-size: 1.5rem;
    }
}


@media (max-width: 450px) {
    .home__sec4 {
        padding: 1rem 0.5rem;
    }

    .home__sec4-subsec1 {
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .home__sec4-proj {
        width: 25rem;
        height: 25rem;
    }
}
