@{
    ViewData["Title"] = "Home";
}


<div class="home__sec1" id="home__sec1">
    <h1 class="home__sec1-banner">Precision You Can Build On</h1>
    <div class="home__sec1-subsec1">
        <h1 class="home__sec1-slogan">We deliver accuracy. <br /> We ensure quality. <br />We stand by our commitment.</h1>
        @* <img class="home__sec1-img" loading="lazy" src="/media/images/pump_building2.jpg" alt="Logo" /> *@
    </div>
</div>





<div class="home__sec3" id="home__sec3">
    <h1 class="home__sec3-banner">Our Services</h1>
    <div class="home__sec3-service">
        <div class='service-box'>
            <img src={img_1} alt="" />
            <h3>
                EZDrafting Co. provides structural steel detailing services utilizing the latest technologies.
                <br />
            </h3>
            <p>
                EZDrafting brings expertise in collaborating with owners, engineers, and architects early in the design phase 
                to pre-detail structures. This proactive approach minimizes delays caused by RFIs and ensures a mill order 
                list is prepared by the bid phase. We also integrate existing 3D design models to accelerate the detailing 
                process and facilitate clash detection.
            </p>

            <p>
                For fabricators with in-house detailing teams, we offer drawing editing services. By downloading the client's 
                existing model, we refine the detailing, update shop drawings, and generate erection plans.
            </p>
            <div>
                <div>
                    <ul>
                        <li>3D structural steel model (DWG, IFC)</li>
                        <li>3D SolidWorks model (DWG, IFC)</li>
                        <li>Shop drawings in pdf or dwg format</li>
                        <li>Erection plans</li>
                        <li>Bolt lists</li>
                        <li>Mill order list</li>
                        <li>CNC files / DXF files</li>
                        <li>BIM coordination</li>
                        <li>Fabtrol lists</li>
                        <li>Field work drawings</li>
                        <li>On-site field work drawings or generation of as built drawings</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home__sec2" id="home__sec2">
    <div class="home__sec2-subsec1">
        @* <img class="navbar__tools-icon" loading="lazy" src="/media/images/Tools/AutoCAD.png" alt="autocad" /> *@
        @* <img class="navbar__tools-icon" loading="lazy" src="/media/images/Tools/tekla.png" alt="tekla" /> *@
        @* <img class="navbar__tools-icon" loading="lazy" src="/media/images/Tools/sw.png" alt="solidworks" /> *@
        @* <img class="navbar__tools-icon" loading="lazy" src="/media/images/Tools/revit.png" alt="revit" /> *@
        <h3 class="navbar__tools">AutoCAD</h3>
        <h3 class="navbar__tools">Tekla Structures</h3>
        <h3 class="navbar__tools">SolidWorks</h3>
        <h3 class="navbar__tools">Revit</h3>
    </div>
</div>

<div class="home__sec4" id="home__sec4">
    <h1 class="home__sec4-banner">Our Latest Projects</h1>
    <div class="home__sec4-subsec1">
        <img class="home__sec4-proj" loading="lazy" src="/media/images/pump_building2.webp" alt="pump_building2_Tekla" />
        <img class="home__sec4-proj" loading="lazy" src="/media/images/pump_building.webp" alt="pump_building_Tekla" />
        <img class="home__sec4-proj" loading="lazy" src="/media/images/fan.webp" alt="fan_SolidWorks" />
        <img class="home__sec4-proj" loading="lazy" src="/media/images/AUX.webp" alt="AUX_Tekla" />
    </div>
</div>


