.navbar {
    position: fixed;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 7.5rem;
    padding: 0;
    z-index:100;
}

.navbar__top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: scaleY(0);
    width: 100vw;
    height: 2.5rem;
    padding: 0 4rem;
    margin: 0;
    background-color: var(--Blue-10);
    transition: transform 0.3s ease-in-out;
}

.navbar__top a:link {
    text-decoration: none;
    color: #fff;
}

.navbar__bottom {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 5rem;
    padding: 0 5vw;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;
}

.navbar__logo-blue{
    display:none;
    width: 10rem;
}

.navbar__logo-white {
    width: 10rem;
}

.navbar__menu {
    display: flex;
}

.navbar__menu-list {
    display: flex;
    justify-content:space-around;
    font-family: "Nunito Sans", serif;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* For navbar__menu-list css settings to to site.css */




.navbar__burger {
    display: none;
}

