:root {
    --Blue-0: #e7f5ff;
    --Blue-1: #d0ebff;
    --Blue-2: #a5d8ff;
    --Blue-3: #74c0fc;
    --Blue-4: #4dabf7;
    --Blue-5: rgba(6, 76, 109, 0.842); /* Portfolio page theme */

    --Blue-51: #339af0;
    --Blue-6: #228be6;
    --Blue-7: #1c7ed6;
    --Blue-8: #004783ff; /* Admin portfolio menu bar */

    --Blue-81: #1971c2; /* btnPrimary */
    --Blue-91: #1864ab;
    --Blue-9: #105188; /*logo Blue*/
    --Blue-10: #0a2f45; /*Main Blue*/
    --Blue-11: rgba(65, 93, 129, 0.897);
    /*    -----------------------------------------------*/
    --Gray-0: #f8f9fa;
    --Gray-1: #f1f3f5;
    --Gray-2: #e9ecef;
    --Gray-3: #dee2e6;
    --Gray-4: #ced4da;
    --Gray-5: #adb5bd; /*box-shadow*/
    --Gray-6: #868e96;
    --Gray-7: #495057;
    --Gray-8: #343a40;
    --Gray-9: #212529;
    /*    -----------------------------------------------*/

    --Green-0: #ebfbee;
    --Green-1: #d3f9d8;
    --Green-2: #b2f2bb;
    --Green-3: #8ce99a;
    --Green-4: #69db7c;
    --Green-5: #51cf66;
    --Green-6: #40c057;
    --Green-7: #37b24d; /* btnSuccess */
    --Green-8: #2f9e44;
    --Green-81: #2b8a3e;
    /* main theme, DO NOT CHANGE IT*/

    --Green-10: #0c3236;
    /* /////////////////////////////////////////////////////////// */
    --Red-0: #fff5f5;
    --Red-1: #ffe3e3;
    --Red-2: #ffc9c9;
    --Red-3: #ffa8a8;
    --Red-4: #ff8787;
    --Red-5: #ff6b6b;
    --Red-6: #fa5252;
    --Red-7: #f03e3e;
    --Red-8: #e03131; /* btnDanger */
    --Red-9: #c92a2a;
    /* /////////////////////////////////////////////////////////// */

    --Violet-0: #f3f0ff;
    --Violet-1: #e5dbff;
    --Violet-2: #d0bfff;
    --Violet-3: #b197fc;
    --Violet-4: #9775fa;
    --Violet-5: #845ef7;
    --Violet-6: #7950f2;
    --Violet-7: #7048e8;
    --Violet-8: #6741d9;
    --Violet-9: #5f3dc4;
    /* /////////////////////////////////////////////////////////// */
    --Indigo-0: #edf2ff;
    --Indigo-1: #dbe4ff;
    --Indigo-2: #bac8ff;
    --Indigo-3: #91a7ff;
    --Indigo-4: #748ffc;
    --Indigo-5: #5c7cfa;
    --Indigo-6: #4c6ef5;
    --Indigo-7: #4263eb;
    --Indigo-8: #3b5bdb;
    --Indigo-9: #2c42ad;
    /* /////////////////////////////////////////////////////////// */
    /* /////////////////////////////////////////////////////////// */
    --Lime-0: #f4fce3;
    --Lime-1: #e9fac8;
    --Lime-2: #d8f5a2;
    --Lime-3: #c0eb75;
    --Lime-4: #a9e34b;
    --Lime-5: #94d82d;
    --Lime-6: #82c91e;
    --Lime-7: #74b816;
    --Lime-8: #66a80f;
    --Lime-9: #5c940d;
    /* /////////////////////////////////////////////////////////// */
    --Yellow-0: #fff9db;
    --Yellow-1: #fff3bf;
    --Yellow-2: #ffec99;
    --Yellow-3: #ffe066;
    --Yellow-4: #ffd43b;
    --Yellow-5: #fcc419;
    --Yellow-6: #fab005;
    --Yellow-7: #f59f00;
    --Yellow-8: #f08c00;
    --Yellow-9: #e67700;
    /* /////////////////////////////////////////////////////////// */
    --Orange-0: #fff4e6;
    --Orange-1: #ffe8cc;
    --Orange-2: #ffd8a8;
    --Orange-3: #ffc078;
    --Orange-4: #ffa94d;
    --Orange-5: #ff922b;
    --Orange-6: #fd7e14;
    --Orange-7: #f76707;
    --Orange-8: #e8590c;
    --Orange-9: #d9480f;
    /* /////////////////////////////////////////////////////////// */
    --boxShadow: 0px 0px 10px var(--Gray-6);
    --BurgerIcon: orangered;
    --LinkInWhite: orangered;
    --LinkInBlack: greenyellow;
}

*:focus {
    outline: none;
    outline-width: 0;
}

* {
    box-sizing: border-box;
    margin: 0px;
    transition: all 0.2s ease-in-out;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



html {
  position: relative;
  height: 100%;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-color: var(--Blue-10);
}

.std__btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}


.primary {
    color: var(--Gray-0);
    border: 1px solid var(--Blue-9);
    background-color: var(--Blue-7);
}

.primary:hover {
    color: var(--Gray-0);
    background-color: var(--Blue-81);
    border: 1px solid var(--Gray-0);
    box-shadow: 0 0 6px var(--Gray-0);
}






.sec__row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10rem;
    margin-top: 7rem;
    padding: 1rem;
    color: var(--Gray-2);
/*    background-color: var(--Gray-6);*/
}


.sec_col {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
/*    background-color: var(--Gray-8);*/
}


.typ__input-box {
    height: 4rem;
/*    background-color: var(--Gray-5);*/
}

.typ__input {
    height: 2rem;
    width:100%;
    padding: 0.5rem;
    border:0;
    border-radius:0.3rem;
    background-color: var(--Gray-1);
}



.typ__txt-danger {
    color: var(--Gray-1);
    border-radius: 0.2rem;
    background-color: var(--Red-9);
}










/* Ensure it applies to all anchor tags inside a menu */
.navbar__menu-list a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--Gray-0);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: text-shadow 0.2s ease-in-out, text-decoration 0.5s ease-in-out;
}







.navbar__menu-list a:hover {
    font-weight: 500;
    color: var(--LinkInBlack);
    transition: all 0.3s ease-in-out;
}


.navbar__burger-list a {
    margin: 0.35rem;
    padding: 0.35rem;
    color: var(--Gray-9);
    font-size:1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: text-shadow 0.2s ease-in-out, text-decoration 0.5s ease-in-out;
}



.navbar__burger-list a:link:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--LinkInWhite);
    transition: all 0.2s ease-in-out;
}


/*user sidebar*/
.users__list a {
    margin: 1px 0;
    padding: 0.2rem 1rem;
    text-decoration:none;
    color: var(--Gray-9);
    background-color: var(--Gray-0);
    cursor: pointer;
}

.users__list a:hover {
    color: var(--Gray-0);
    background-color: var(--Blue-10);
    cursor: pointer;
}