:root {
    --Blue-3: #518aba;
    --Blue-9: #105188; /*logo Blue*/
    --Blue-10: #0a2f45; /*Main Blue*/
    /*    -----------------------------------------------*/
    --Gray-0: #f8f9fa;
    --Gray-1: #f1f3f5;
    --Gray-2: #e9ecef;
    --Gray-3: #dee2e6;
    --Gray-4: #ced4da;
    --Gray-5: #adb5bd; /*box-shadow*/
    --Gray-6: #868e96;
    --Gray-7: #495057;
    --Gray-8: #343a40;
    --Gray-9: #212529;
    /*    -----------------------------------------------*/
    --boxShadow: 0px 0px 10px var(--Gray-6);
    --BurgerIcon: orangered;
    --LinkInWhite: orangered;
    --LinkInBlack: greenyellow;
}

*:focus {
    outline: none;
    outline-width: 0;
}

* {
    box-sizing: border-box;
    margin: 0px;
    transition: all 0.2s ease-in-out;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



html {
  position: relative;
  height: 100%;
}

/*header{
    position: fixed;
    margin: 0;
}*/

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-color: var(--Blue-10);
}

/* Ensure it applies to all anchor tags inside a menu */
.navbar__menu-list a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--Gray-0);
    text-transform: uppercase;
    text-decoration: none;
    cursor:pointer;
    transition: text-shadow 0.2s ease-in-out, text-decoration 0.5s ease-in-out;
}



.navbar__menu-list a:active {
    color: green;
}

.navbar__menu-list a::after {
    color: green;
}

.navbar__menu-list a:visited {
    color: greenyellow;
    font-weight: 500;
}

.navbar__menu-list a:hover {
    font-weight: 500;
    color: var(--LinkInBlack);
    transition: all 0.3s ease-in-out;
}


.navbar__burger-list a {
    margin: 0.35rem;
    padding: 0.35rem;
    color: var(--Gray-9);
    font-size:1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: text-shadow 0.2s ease-in-out, text-decoration 0.5s ease-in-out;
}



.navbar__burger-list a:link:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--LinkInWhite);
    transition: all 0.2s ease-in-out;
}