:root {
    --Blue-3: #518aba;
    --Blue-9: #105188; /*logo Blue*/
    --Blue-10: #0a2f45; /*Main Blue*/
    /*    -----------------------------------------------*/
    --Gray-0: #f8f9fa;
    --Gray-1: #f1f3f5;
    --Gray-2: #e9ecef;
    --Gray-3: #dee2e6;
    --Gray-4: #ced4da;
    --Gray-5: #adb5bd; /*box-shadow*/
    --Gray-6: #868e96;
    --Gray-7: #495057;
    --Gray-8: #343a40;
    --Gray-9: #212529;
    /*    -----------------------------------------------*/
    --boxShadow: 0px 0px 10px var(--Gray-6);
}

*:focus {
    outline: none;
    outline-width: 0;
}

* {
    box-sizing: border-box;
    margin: 0px;
    transition: all 0.2s ease-in-out;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header{
    position: fixed;
    margin: 0;
}
body {
    margin-bottom: 60px;
    background-color: var(--Blue-10);
    width:100%;
    height: 160vh;
}