.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10rem;
    margin-top: auto;
    background: url(/media/images/home/Fall_3.webp);
    background-size: cover;
    background-position: right;
    transition: all 0.2s ease-in-out;
    background-color: var(--Blue-10);
}

.footer__contact {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 9rem;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

.footer__contact-card {
    align-self: flex-start;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25rem;
    background-color: rgba(221, 221, 221, 0.884);
    transition: all 0.2s ease-in-out;
}

.footer__contact-logo {
    width: 15rem;
    height: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(1px 1px 1px white);
    transition: all 0.2s ease-in-out;
}

.footer__contact-logo:hover {
    filter: grayscale(0);
    filter: drop-shadow(0px 1px 1px var(--Blue-10));
    cursor: pointer;
}

.footer__contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;
}

.footer__contact-info a:link {
    color: var(--Gray-9);
    text-decoration: none;
}

.footer__contact-info a:link:hover {
    color: var(--Blue-91);
}




.footer__ribbon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: inherit;
    height: 1.5rem;
    gap: 1rem;
    color: var(--Gray-8);
    background-color: var(--Blue-10);
    transition: all 0.2s ease-in-out;
}

.footer__ribbon small:nth-child(3) {
    margin-right: 2rem;
    transition: all 0.2s ease-in-out;
}

.footer__ribbon small:nth-child(3) a {
    color: var(--Gray-0);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 1670px) {
    .footer__contact {
        width: 90vw;
    }
}

@media (max-width: 1470px) {
    .footer__contact {
        width: 98vw;
        margin: 0;
    }
}

@media (max-width: 700px) {
    .footer__contact {
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    .footer__contact {
        flex-direction: column;
    }

    .footer__contact-card {
        width: 100vw;
    }

    .footer__contact-logo {
        width: 14rem;
        height: auto;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.2s ease-in-out;
        filter: grayscale(0.75);
    }

    .footer__ribbon {
        justify-content: center;
    }

    .footer__ribbon small:nth-child(3) {
        margin: 0;
    }
}
