.dashboard__sidebar {
    position: fixed;
    top: 8rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: var(--Gray-9);
    z-index: 100;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 8px var(--Gray-5);
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #b5c166;
}


.sidebar__link {
    color: var(--Gray-9);
    text-decoration: none;
}

.sidebar__link--active {
    background-color: #1f2937;
    color: #fff;
}