<div class="footer">
    <div class="footer__contact">
        <div class="footer__contact-card">
            <img class="footer__contact-logo" loading="lazy" src="/media/logo/ez-code_B2.png" />
            <div class="footer__contact-info">
                <a href="tel:+1(250)797-9060">Phone: +1(250)797-9060</a>
                <a href="mailto:info@ezdraftingco.com">
                    Email: info@ezdraftingco.com
                </a>
            </div>
        </div>
    </div>

    <div class="footer__ribbon">
        <small> Copyright (C) 2024 - all rights reserved </small>
        <small> | </small>
        <small>
            Site By &nbsp;
            <a href="https://ezcode.ca" target="_blank">
                EZcode
            </a>
        </small>
    </div>
</div>
