


    <!-- Bottom Section -->
<div class="dashboard__sidebar">
    <!-- Desktop Menu -->
    <div class="dashboard__sidebar__menu">
        <div class="dashboard__sidebar__list">
            <a class="dashboard__sidebar__link" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
            <a class="dashboard__sidebar__link">Contract Drawings</a>
            <a class="dashboard__sidebar__link" asp-controller="RFI" asp-action="Index">RFI</a>
            <a class="dashboard__sidebar__link">IFA to Do</a>
            <a class="dashboard__sidebar__link">IFF to Do</a>
            <a class="dashboard__sidebar__link">Tasks</a>
        </div>
    </div>
</div>
