@model AppUserUpdateDto

@{
    ViewData["Title"] = "Update User";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="Dashboard__main">
    <h1> Update user</h1>
    <p>@Model.FirstName</p>
    
</div>