.btn_add {
    margin-left: auto;
    padding: 0 0.6rem;
    border: 0;
    color: var(--Gray-1);
    background-color: var(--Blue-7);
    box-shadow: 0px 0px 5px var(--Gray-8);
}

.btn_add:hover {
    color: var(--Gray-0);
    background-color: var(--Blue-8);
    box-shadow: 0px 0px 5px var(--Gray-6);
}

/* ============================= select styles ============================= */
.select{
    width: 100%;
    height: 2rem;
    padding: 6px;
    background-color: var(--InputBackground);
    border-radius: var(--InputBorderRadius);
    border: var(--InputBorder);
    box-shadow: var(--InputBoxShadow);
    cursor: pointer;
}

.select:hover {
    box-shadow: var(--InputHover);
}

.select:focus {
    border: var(--InputFocus);
    box-shadow: var(--InputFocusBoxShadow);
    background-color: var(--InputFocusBackground);
}

.select__project {
    grid-area: s1;
}

.select__taskName {
    grid-area: s2;
}

.select__priority {
    grid-area: s3;
}

/* ============================= input styles ============================= */

.input {
    width: 100%;
    height: 2rem;
    padding: 6px;
    background-color: var(--InputBackground);
    border-radius: var(--InputBorderRadius);
    border: var(--InputBorder);
    box-shadow: var(--InputBoxShadow);
    cursor: pointer;
}

.input:hover {
    box-shadow: var(--InputHover);
}

.input:focus {
    border: var(--InputFocus);
    box-shadow: var(--InputFocusBoxShadow);
    background-color: var(--InputFocusBackground);
}