.dashboard__main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    height: 100vh;
    max-height: 95vh;
    margin-top: 5rem;
    padding-left: 14rem;
    color: var(--Gray-2);
    background-color: transparent;
    background-color: var(--Gray-2);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    /*    background: url(/media/images/home/home_sec1_background.webp);*/
    /*    background-attachment: fixed;*/
    /*    background-size: cover;*/
    /*    background-position: right;*/
}


.dashboard__container {
    width: fit-content;
    min-width: 400px;
    max-width: 400px;
    margin-top: 3rem;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 3px 3px 5px var(--Gray-6);
}

.table__header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--Blue-10);
    width: 100%;
    height: 2rem;
}

.table__headerTitle {
    margin:auto;
    margin-left:1rem;
}

.table__searchInput {
    width: 45%;
    margin: auto;
    margin-left: 1rem;
    text-indent: 0.5rem;
    border: 0;
    color: var(--Gray-0);
    background-color: transparent;
    border-left: 1px solid var(--Gray-3);
}

.table__nameInput::placeholder {

    color: var(--Gray-5);
}

.btn_add {
    background-color: #5e93dc;
}










.dashboard__table {
    color: var(--Gray-7);
    font-family: Helvetica, Arial, sans-serif;
    width: 100%
}

.dashboard__table tr {
    background-color: var(--Gray-3);
}

.dashboard__table thead > tr {
    background-color: var(--Blue-11);
    color: var(--Gray-2);
}

.dashboard__table thead > tr:hover {
    background-color: var(--Blue-11);
    color: var(--Gray-1);
    cursor:default;
}

.dashboard__table tr:nth-child(even) {
    background-color: var(--Gray-3);
}



.dashboard__table tr {
    border-bottom: 1px solid var(--Gray-4);
}

.dashboard__table tr:hover {
    cursor: pointer;
    background: var(--Gray-1);
}

.dashboard__table td, th {
    padding: 0.5rem 1rem;
}




/*dashboard__sidebar*/
.sidebar__list a {
    margin: 1px 0;
    padding: 0.2rem 1rem;
    text-decoration: none;
    color: var(--Gray-9);
    background-color: var(--Gray-0);
    cursor: pointer;
}

.sidebar__list a:hover {
    color: var(--Gray-0);
    background-color: var(--Blue-10);
    cursor: pointer;
}


/*a:link {
    text-decoration: none;
    color: var(--Gray-7);
}*/


.dashboard__search {
    width: 100%;
    margin-top:5rem;
    padding: 8px 10px;
}