.form__container {
    position: absolute;
    right: 10px;
    margin-top: 6.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: fit-content;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;

    background-color: var(--LightBackground);
    box-shadow: var(--TableBoxShadowDark);

    transform: translateX(60rem);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;

    border-left: 1px solid var(--HeaderBackground);
    /* background: rgba(255, 255, 255, 0.021);
    backdrop-filter: blur(12px); */
}

.form__container--visible {
    transform: translateX(0);
}


.form__body {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* grid-template-columns: repeat(2, minmax(200px, 1fr)) auto; */
    /* grid-template-columns: 250px 250px 250px; */
    grid-template-rows: repeat(5, 4rem) auto 3rem;
    grid-template-areas:
        "project project"
        "phase area"
        "taskName priority"
        "assignee estimatedHours"
        "title title"
        "des des"
        "cancel submit";

    color: var(--Gray-7);
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 6px;
}

.form__header {
    width: 100%;
    height: 2.5rem;
    padding: 6px;
    background-color: var(--HeaderBackground);
    color: var(--TextLight);
}

.form__title {
    margin: auto;
    margin-left: 5px;
    font-size: 1.5rem;
    font-weight: 700;
}