.form__container {
    display: none;
}

.form__container--visible {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 500px;
    min-height: fit-content;
    margin-top: 3rem;
    padding: 10px;
    font-size:  12px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: none;
    flex-grow: 1;
    background-color: var(--FaintBackground);
    box-shadow: var(--TableBoxShadowDark);
}


.form__body {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* grid-template-columns: repeat(2, minmax(200px, 1fr)) auto; */
    /* grid-template-columns: 250px 250px 250px; */
    grid-template-rows: repeat(5, 4rem) auto 2rem;
    grid-template-areas:
        "project project"
        "phase area"
        "taskName priority"
        "assignee estimatedHours"
        "title title"
        "des des"
        "none submit";

    /* background-color: var(--Gray-4); */
    color: var(--Gray-7);
    font-family: Helvetica, Arial, sans-serif;
    width: 50%;
    padding: 6px;
    background-color: var(--LightBackground);
}

.form__header {
    width: 50%;
    height: 2.5rem;
    padding: 6px;
    background-color: var(--HeaderBackground);
    color: var(--TextLight);
}

.form__title {
    margin: auto;
    margin-left: 5px;
    font-size: 1.5rem;
    font-weight: 700;
}