.dashboard__sidebar {
    position: fixed;
    top: 8rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: var(--Gray-9);
    z-index: 100;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 8px var(--Gray-5);
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: var(--Green-11);
}




.sidebar__link {
    margin: 1px 0;
    padding: 0.2rem 1rem;
    text-decoration: none;
    color: var(--Gray-9);
    background-color: var(--Gray-0);
    cursor: pointer;
    text-decoration: none;
}

.sidebar__link--active {
    color: var(--Gray-0);
    background-color: var(--Blue-1);
}

.sidebar__list a:hover {
    color: var(--Gray-0);
    background-color: var(--Blue-10);
    cursor: pointer;
}