.dashboard__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-top: 8rem;
    color: var(--TextDark);
    background-color: var(--LightBackground);
    z-index: 1;
}

.sidebar__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}




.sidebar__link {
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem;
    text-decoration: none;
    color: var(--TextDark);
    height: 2.5rem;
    cursor: pointer;
    text-decoration: none;
}

.sidebar__link--active {
    color: var(--TextLight);
    background-color: var(--DarkBackground);
}

.sidebar__list a:hover {
    color: var(--TextLight);
    background-color: var(--DarkBackground);
}