.table__container {
    display: none;
}

.table__container--visible {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* max-width: 1200px; */
    height: 100%;
    min-height: fit-content;
    padding: 10px;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size:  12px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: none;
    flex-grow: 1;
    background-color: var(--LightBackground);
    /* box-shadow: var(--TableBoxShadowDark); */
}

.table__header {
    width: 100%;
    height: 2.5rem;
    padding: 6px;
    background-color: var(--HeaderBackground);
    color: var(--TextLight);
}

.table__searchBar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 3rem;
    padding: 6px;
    background-color: var(--LightBackground);
    color: var(--TextDark);
}

.table__title {
    margin: auto;
    margin-left: 5px;
    font-size: 1.5rem;
    font-weight: 700;
}

/* .table__searchInput {
    margin: 0 2rem;
    text-indent: 0.5rem;
    border: 1px solid var(--Gray-4);
    color: var(--Gray-7);
    background-color: var(--Gray-1);
    flex-grow: 1;
} */

.table__nameInput::placeholder {
    color: var(--Gray-5);
}

.table__table {
    color: var(--Gray-7);
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
}


.table__table thead > tr {
    background-color: var(--DarkBackground);
    color: var(--TextLight);
}

.table__table thead > tr:hover {
    background-color: var(--DarkBackground);
    color: var(--TextLight);
}

.table__table tr {
    /* text-align: center; */
    background-color: var(--LightBackground);
    color: var(--TextDark);
    border-bottom: 3px solid var(--Gray-3);
    /* transition: background-color 0.12s ease; */
}

.table__table tr:hover {
    cursor: pointer;
    background-color: var(--Gray-3);
    /* background-color: rgba(255, 255, 255, 0.04); */
}

.table__table td, th {
    padding: 0.1rem 1rem;
}

.table__table tr td:first-child {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.table__table tr td:last-child {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

/* ===================== Status styles ===================== */
.status__span{
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
}

.status__span--new {
    background: var(--Green-2);
    /* box-shadow: 0 0px 4px var(--Gray-9); */
}

.status__span--inProgress {
    background: linear-gradient(90deg, var(--Indigo-4),var(--Indigo-2), var(--Green-4));
    box-shadow: 0 0px 8px var(--Indigo-3);
}

.status__span--paused {
    background: linear-gradient(135deg, var(--Yellow-5), var(--Yellow-8));
    box-shadow: 0 0px 8px var(--Yellow-3);
}

.status__span--canceled {
    background: linear-gradient(135deg, var(--Red-5), var(--Red-8));
    box-shadow: 0 0px 8px var(--Red-3);
}

.status__span--onHold {
    background: linear-gradient(135deg, var(--Gray-4), var(--Gray-8));
    box-shadow: 0 0px 8px var(--Gray-3);
}

.status__span--completed {
    background: linear-gradient(135deg, var(--Indigo-4), var(--Indigo-6));
    box-shadow: 0 0px 8px var(--Indigo-3);
}

.status__span--closed {
    background: linear-gradient(135deg, var(--Violet-5), var(--Violet-8));
    box-shadow: 0 0px 8px var(--Violet-3);
}

.table__td--status {
    display: flex;
    align-items: center;
    gap: 8px;
}




/* ===================== Task priority styles ===================== */
.table__td--high {
    /* background-color: var(--Orange-5); */
    border-left: 4px solid var(--Red-8);
    color: var(--Red-8);
    font-weight: 600;
}

.table__td--urgent {
    border-left: 4px solid var(--Orange-6);
    color: var(--Orange-6);
    font-weight: 600;
}

.table__td--normal {
    border-left: 4px solid var(--Blue-6);
    color: var(--Blue-6);
    font-weight: 600;
}

.table__td--low {
    border-left: 4px solid var(--Violet-4);
    color: var(--Violet-4);
    font-weight: 600;
}

.table__td--trivial {
    border-left: 4px solid var(--Gray-4);
    color: var(--Gray-6);
    font-weight: 600;
}


/* .table__tr--high:hover {
    background-color: var(--Red-8);
    color: var(--Gray-0);
    filter: drop-shadow(0 0 3px var(--Gray-9));
} */

/* .table__tr--urgent:hover {
    background-color: var(--Orange-7);
    color: var(--Gray-0);
    filter: drop-shadow(0 0 3px var(--Gray-9));
} */

/* .table__tr--Medium:hover {
    background-color: var(--Blue-7);
    color: var(--Gray-0);
    filter: drop-shadow(0 0 3px var(--Gray-9));
} */

/* .table__tr--low:hover {
    background-color: var(--Green-8);
    color: var(--Gray-0);
    filter: drop-shadow(0 0 3px var(--Gray-9));
} */

/* .table__tr--trivial:hover {
    background-color: var(--Gray-7);
    color: var(--Gray-0);
    filter: drop-shadow(0 0 3px var(--Gray-9));
} */
