@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutUserPanel.cshtml";
}

<div class="users__admin">
    @* <partial name="UserPanelNavbar/_UserPanelNav" /> *@
    <h1>Admin Panel</h1>
</div>
