.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    padding: 4rem 2rem;
    justify-content: space-around;
    background-color: var(--Blue-10);
}

.projects__banner {
    margin:4rem;
    color: var(--Gray-0);
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 3px 3px 6px var(--Gray-7);
}

.projects__subsec1 {
    display: grid;
    gap: 2rem;
    grid-row-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    width: 100%;
}



.projects__figure {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    width: 27rem;
    height: fit-content;
    margin: auto;
    padding: 0.2rem;
    color: var(--Gray-2);
    background-color: var(--Gray-7);
    box-shadow: 0px 0px 15px var(--Gray-9);
}

.projects__figure img {
    width: 27rem;
    height: 27rem;
}


    @media (max-width: 990px) {
    }

@media (max-width: 600px) {
}


@media (max-width: 450px) {
    .projects {
        padding: 1rem 0.5rem;
    }

    .projects__subsec1 {
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .projects__figure img {
        width: 25rem;
        height: 25rem;
    }
}
