.users__admin {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top:5rem;
    color: var(--Gray-0);
    background-color: transparent;
    background-color: cadetblue;
    font-family: "Russo One", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
/*    background: url(/media/images/home/home_sec1_background.webp);*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*    background-position: right;*/
}
