@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="Dashboard__main">
    @* <partial name="UserPanelNavbar/_UserPanelNav" /> *@
    <h1>Admin Panel</h1>
</div>
