@model UserAccountDto

@{
    ViewData["Title"] = "Update User";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="Dashboard__main">
    <h1> Update user</h1>

    <form id="userForm" asp-area="Admin" asp-controller="User" asp-action="Update" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="text" asp-for="FirstName" />
        <input type="text" asp-for="LastName" />
        <input type="text" asp-for="PhoneNumber" />
        <input type="text" asp-for="Email" />
        <input type="text" asp-for="JobTitle" />
        <button id="enableUserForm" type="button" class="btn btn-primary">Edit</button>
        <button id="submitUserForm" hidden type="submit" class="btn btn-primary">Submit</button>
        @* <a id="enableUserForm">Edit</a> *@
    </form>

</div>