


    <!-- Bottom Section -->
<div class="users__sidebar" id="users__sidebar">
    <!-- Desktop Menu -->
    <div class="users__menu">
        <div class="users__list" id="users__list">
            <a class="users__link" id="cd_dwgs">Contract Drawings</a>
            <a class="users__link" id="rfi-log" asp-controller="RFI" asp-action="Index">RFI</a>
            <a class="users__link" id="ifa-todo">IFA to Do</a>
            <a class="users__link" id="iff-todo">IFF to Do</a>
            <a class="users__link" id="tasks">Tasks</a>
        </div>
    </div>
</div>
