.users__sidebar {
    position: fixed;
    top: 8rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: var(--Gray-9);
    z-index: 100;
}

.users__menu {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 8px var(--Gray-5);
}

.users__list {
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content:center;
    padding: 1rem 0;
    background-color:#b5c166;
}

/*.users__list a {
    padding: 1rem 0.5rem;
    color: var(--Gray-9);
    cursor: pointer;
}*/