.users__nav {
    position:fixed;
    top: 10rem;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    z-index: 100;
}
