
@* <nav class="users__nav" id="navbar"> *@


    <!-- Bottom Section -->
<div class="users__nav" id="navbar__bottom">
        <!-- Desktop Menu -->
        <div class="navbar__menu">
            <div class="navbar__menu-list" id="navbar__menu-list">
                @* <a class="navbar__menu-link" id="services" asp-controller="Services" asp-action="Index">Services</a> *@
                @* <a class="navbar__menu-link" asp-controller="About" asp-action="Index">About us</a> *@
                @* <a class="navbar__menu-link" asp-controller="Contact" asp-action="Index">Contact us</a> *@
                <a class="navbar__menu-link" id="cd_dwgs">Contract Drawings</a>
            <a class="navbar__menu-link" id="rfi" asp-controller="RFI" asp-action="Index">RFI</a>
                <a class="navbar__menu-link" id="ifa">IFA to Do</a>
                <a class="navbar__menu-link" id="ifa">IFF to Do</a>
                <a class="navbar__menu-link" id="tasks">Tasks</a>
            </div>
        </div>
    </div>
@* </nav> *@