
@model List<AppUserDto>

@{
    ViewData["Title"] = "About Us";
}

<h1 style="color:white">About Us</h1>





<div class="projects" id="projects">
    @* <h1 class="projects__banner">Our Projects</h1> *@


    <div class="projects__subsec1">
        @foreach (var appUser in Model)
        {
            <figure>
                    @* <img loading="lazy" *@
                    @*      src="@(project.ImageUrls != null && project.ImageUrls.Length > 0 ? project.ImageUrls[0] : "/media/images/pump_building.webp")" *@
                    @*      alt="@project.ProjectName" /> *@
                    <figcaption>
                        @* <h3>@appUser.Name</h3> *@
                        <h4>@appUser.Email</h4>
                    </figcaption>
            </figure>
        }
    </div>
</div>